body {
	background-color: rgb(50, 150, 150);
}

.dark {
	background-color: black;
	color: white;
}

.light {
	background-color: white;
}

.navbar {
	margin-bottom: 0px;
}

.hero {
	padding: 100px;
}

.main-content {
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

footer p {
	margin: 0;
}

.footer-content {
	padding: 15px;
}